body {
    background-color: blanchedalmond;
    justify-content: center;
    /* screen center align */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .row {
    display: flex;  
}

.container .row .wine {
    width: 200px;
    height: 200px;
    background-color: BurlyWood;
    margin: 4px; 
    
    /* center align */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border */
    border-radius: 15px;
    box-shadow: 10px 4px 20px BurlyWood;
}

.container .row .wine:hover {
    cursor:pointer;
}
/* css for search box*/
.search {
    margin-top: 7px;

    padding: 0 0 0 150px;
    display: block;
    box-sizing: border-box;
    width: 400px;
    height:50px;
    background: blanchedalmond;
    border: 1px blanchedalmond;

    /* keyword font setting */
    color: MediumOrchid; 
    font-size: 20px;

    position: relative;
}

.search:focus {
    outline: none;
}

/* css for Searching */
.hide {
    display: none;
}

.searchable {
    font-size: 50px;
    font-family: monospace;
    color: LightCoral;

    /* center(almost) */
    width: 800px;
    padding: 300px;
}

/* css for search result*/
.showKeyword {
    font-size: 50px;
    font-family: monospace;
    color: Chocolate;
    margin-bottom: 20px;
}

.result {
    font-size: 30px;
    font-family: monospace;
    color: CornflowerBlue;
}
